<main class="bg-gray-600 h-screen flex justify-center items-center">
  <article>
    <section class="max-w-sm rounded overflow-hidden shadow-lg">
      <img src="../assets/mottu.png" />

      <article class="bg-slate-300">
        <section class="px-6 py-4">
          <h1 class="text-green-900 font-bold text-xl uppercase mb-2 pb-4">
            Sua realidade com a Mottu
          </h1>
          <p class="text-gray-700 text-base">
            Alugue uma Mottu de maneira rápida, 100% digital ecomece a mudar sua
            vida agora!
          </p>
        </section>

        <section class="px-6 pt-4 pb-2">
          <span
            class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-green-900 mr-2 mb-2"
            >#Mottu</span
          >

          <span
            class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-green-900 mr-2 mb-2"
            >#Delivery</span
          >

          <span
            class="inline-block bg-gray-100 rounded-full px-3 py-1 text-sm font-semibold text-green-900 mr-2 mb-2"
            >#Unicorn</span
          >
        </section>
      </article>
    </section>

    <!-- <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl">
      <div class="md:flex">
        <div class="md:shrink-0">
          <img class="h-48 w-full object-cover md:h-full md:w-48" src="../assets/mottu-boy.jpg" alt="Man looking at item at a store">
        </div>
        <div class="p-8">
          <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Case study</div>
          <a href="#" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">Finding customers for your new business</a>
          <p class="mt-2 text-slate-500">Getting a new business off the ground is a lot of hard work. Here are five ideas you can use to find your first customers.</p>
        </div>
      </div>
    </div> -->

    <!-- <article class="min-h-screen flex items-center justify-center">
      <div
        class="grid grid-cols-1 md:grid-cols-2 md:gap-2 gap-1 lg:grid-cols-4 lg:gap-4"
      >
        <section class="bg-green-300 text-green-900 text-2xl text-center">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </section>

        <section class="bg-green-300 text-green-900 text-2xl text-center">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </section>

        <section class="bg-green-300 text-green-900 text-2xl text-center">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </section>

        <section class="bg-green-300 text-green-900 text-2xl text-center">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </section>
      </div>
    </article> -->
  </article>
</main>
